/* Resetando o padrão de margem e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo do corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}

/* Cabeçalho */
header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 2em;
    margin: 0;
}

/* Seção Sobre Mim */
section#sobre {
    background-color: #ffffff;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section#sobre h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

section#sobre p {
    font-size: 1.1em;
    margin-bottom: 10px;
}

/* Rodapé */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer a {
    color: #ff9900;
    text-decoration: none;
}
